*{
    margin: 0%;
    padding: 0%;
}



/* 
.front{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
} */

.front {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 80%;
}


#navbar {
    overflow: hidden;
    background-color: blueviolet;
}

#navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

.web-content {
    padding: 16px;
}

.sticky{
    position: fixed;
    top:0%;
    width: 100%;
    z-index: 100;
}
/* 
.sticky + .content{
    padding-top: 10%;
} */

.imagebox{
    position: relative;
    text-align: center;
}

@keyframes introanimation {
    from { width: 0%;}
    to {width: 100%;}
}

  
.intro{
    font-size: 350%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: introanimation 5s infinite;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: introanimation 5s infinite, 
        typewriter 4s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from,to { border-color: transparent;}
    50% {border-color: orange;}
    
}

.heading{
    font-size: 220%;
    font-weight: 500;
}

.border{
    border: 2px solid black;
    padding: 5%;
    margin: 2%;
    border-radius: 20%;
}

/* body, html {
    height: 100%;
  }
   */

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    
}

.blog-box{
    /* display: inline;
    border: 2px solid black;
    border-radius: 30%; */
    flex: 0 0 48%;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    /* border: 1px solid #ddd; */
    margin: 0 10px;
    border-radius: 20%;
}

.blog {
    flex: 0 0 48%; /* Adjust the width as needed, considering margins and paddings */
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 10px;
    cursor:pointer;
    border-radius: 40%;
}